body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00ff44;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
    font-size: 18px;
}
